include requirements.txt
include requirements-py2.txt
include test-requirements.txt
include README.md
include bitter/VERSION
graft bitter/templates
graft bitter/static
include tests/test*
global-exclude *.pyc
global-exclude __pycache__